<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.shop.product.ProductDAO">

	<insert id="setInsert" parameterType="ProductDTO">
		insert into product values(product_seq.nextval,#{name},#{price},#{introduce},#{sale},#{imgName},#{pCode},#{cCode},0,sysdate)
	</insert>
	
	<select id="getSearchList" resultType="ProductDTO" parameterType="ProductPager">
	select * from
	(select rownum as r, p.* from
	(select * from product where 
	 name like '%'|| #{search}||'%'
	 <if test="startPrice!=0 and endPrice!=0">
	 	and price between #{startPrice} and #{endPrice}
	 </if>
	 
	)p)	
	where r between  #{startRow} and #{lastRow}
	
	</select>
	
	<select id="getSearchCount" resultType="Long" parameterType="ProductPager">
		select count(num) from product where name like '%'|| #{search}||'%'
		<if test="startPrice!=0 and endPrice!=0">
	 	and price between #{startPrice} and #{endPrice}
	 	</if>
	</select>
	
	<select id="getList" resultType="ProductDTO" parameterType="ProductPager">
	select * from
	(select rownum as r, p.* from
	(select * from product where pCode=#{pCode}
	<choose>
		<when test="cCode != 0">
		 and cCode= #{cCode}
		</when>
	</choose>
	order by 
	<choose>
		<when test="seq==0">
		num desc
		</when>
		<when test="seq==1">
		hit desc
		</when>
		<when test="seq==2">
		price desc
		</when>
		<when test="seq==3">
		price asc
		</when>
	</choose>
	)p)	
	where r between  #{startRow} and #{lastRow}
	</select>
	
	
	<select id="getCount" resultType="Long" parameterType="ProductPager">
		select count(num) from product where pCode=#{pCode}
		<choose>
		<when test="cCode != 0">
		 and cCode= #{cCode}
		</when>
	</choose>
		
	</select>
	
	<select id="getOne" parameterType="ProductDTO" resultType="ProductDTO">
		select * from product where num=#{num}
	</select>
	
	<update id="setHitUpdate" parameterType="ProductDTO">
	    update product set hit=hit+1 where num=#{num}
	</update>
	
	<delete id="setProductDelete" parameterType="ProductDTO">
		delete from product where num=#{num}
	</delete>
	
	<update id="setProductUpdate" parameterType="ProductDTO">
	 update product set name=#{name}, price=#{price}, imgName=#{imgName} ,introduce=#{introduce},sale=#{sale} where num=#{num}
	
	</update>
	
	<select id="getNewProduct" resultType="ProductDTO">
		select *
		from(select rownum,p.* from product p order by num desc)
		where rownum between 1 and 12
		
	
	</select>
	
	<select id="getBestProduct" resultType="ProductDTO">
		select product.*
		from product inner join 
		(select * from
		(select sum(amount) cnt, productNum
		from orderdetail
		group by productNum
		order by cnt desc)
		where rownum between 1 and 12) o
		on (product.num=o.productnum)
		order by o.cnt desc	
	</select>
	
	<select id="getCategory" resultType="CategoryDTO" parameterType="ProductPager">
		select * from category where pCode=#{pCode} order by cCode asc
	</select>
	
	<select id="getpCode" resultType="CategoryDTO">
		select * from category where cCode=0 order by pCode asc
	</select>
	
	<select id="getcCode" parameterType="CategoryDTO" resultType="CategoryDTO">
		select * from category where pCode=#{pCode} and cCode !=0 order by cCode asc
	</select>
</mapper>